*{
    margin: 0 auto;
}
.para-three{
    background-color: antiquewhite;
}

body{
    border: 2px solid rgb(55, 52, 52);
    width: 50%;
}

#list-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #image{
    background-image: url('boo.jpg');
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
} */
 /* #image{
    background-color: rgb(59, 57, 54);
 } */