*{
    margin: 0;
}
body{
    max-width: 500px;
    border: 2px solid rgb(252, 242, 242);
    margin: 30px auto;
    box-shadow: -2px 2px 10px rgb(175, 222, 241);
    
}
main{
    background-color: aliceblue;
    padding-left: 2px;
    padding-right: 2px;
}
a{
    text-decoration: none;
}